*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #53abee;
    background-image: linear-gradient(180deg, #53abee 0%, #6cac6c 57%, #1b6f20 99%);
    

    




    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Ubuntu', sans-serif;
}
 
li {   
    list-style: none;
}

a{
    text-decoration: none;
    color:black;
}

.header__nav{
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__ul--lista{
    display: flex;
    margin: 20px 50px;
}

.header__nav__ul--lista li{
    margin: 0 30px;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    
}

.header__nav__ul--li a:hover{    
    text-decoration:underline 5px #1b6f20;
}




.header__nav__ul--imagen img{
    margin:10px 0px 0px 20px;
    width: 210px;
    height: 80px;
    
}


